attrs==21.2.0
autopep8==1.5.7
coverage==6.0.1
flake8==3.9.2
iniconfig==1.1.1
mccabe==0.6.1
mysql==0.0.3
mysql-connector-python==8.0.26
mysqlclient==2.0.3
packaging==21.0
pluggy==1.0.0
protobuf==3.18.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyhash==0.9.3
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
python-dotenv==0.19.0
schedule==1.1.0
toml==0.10.2
tomli==1.2.1
